<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">Best Game Ever!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt
        neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque
        vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo,
        maiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio
        neque consectetur consequatur magni in nisi, natus beatae quidem quam
        odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate.
        Voluptatum.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <div class="login-form mt-4">
        <form action="verifyLogin" method="post">
          <h2 class="text-center">Log in</h2>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="Username"
              required="required"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              required="required"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Log in
            </button>
          </div>
          <div class="clearfix">
            <label class="pull-left checkbox-inline"
              ><input type="checkbox" /> Remember me</label
            >
            <a href="#" class="pull-right">Forgot Password?</a>
            <!-- {% for message in messages %}
            <div class="alert alert-danger">
              <a class="close" href="#" data-dismiss="alert">×</a> {{ message }}
            </div>
            {% endfor %} -->
          </div>
        </form>
        <p class="text-center"><a href="/register">Create an Account</a></p>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="" />
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="" />
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="" />
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
