<div class="village-content">
  <ul class="list-group" *ngIf="selectedVillage">
    <!-- {% for buildingName, building in data.selectedVillage.buildings.items %} {%
    if buildingName != 'resources' %} -->
    <div *ngFor="let building of selectedVillage.buildings | keyvalue">
      <ng-container
        *ngIf="
          building.key != 'resources';
          then buildingTemplate;
          else resourceBuildingTemplate
        "
      ></ng-container>
      <ng-template #buildingTemplate>
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <div class="row">
                <a class="col" href="/game/{{ building.key }}">
                  {{ building.key | humanizeCamelCase }}
                </a>
                <div class="col">
                  <span class="badge badge-info">
                    Level
                    <div class="level">
                      {{ building.value.level }}
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="upgradeBuildings">
                <div class="row buildingDetailsSection">
                  <ng-container
                    *ngIf="
                      building.value.upgrading.state;
                      then progressBarTemplate;
                      else neededResourcesTemplate
                    "
                  ></ng-container>
                  <ng-template #progressBarTemplate>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-success progress-bar-striped active"
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 0%;"
                      >
                        <span id="current-progress"></span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #neededResourcesTemplate>
                    <div class="col">
                      <div class="neededWood">
                        {{ getBuildingNeededResources(building.key).wood }}
                      </div>
                      Wood
                    </div>
                    <div class="col">
                      <div class="neededIron">
                        {{ getBuildingNeededResources(building.key).iron }}
                      </div>
                      Iron
                    </div>
                    <div class="col">
                      <div class="neededClay">
                        {{ getBuildingNeededResources(building.key).clay }}
                      </div>
                      Clay
                    </div>
                    <div class="col">
                      <div class="neededTime">
                        {{ getBuildingUpgradeTime(building.key) }}
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col upgradeOrCancelBtn">
              <ng-container
                *ngIf="
                  building.value.upgrading.state;
                  then cancelUpgradeBtn;
                  else upgradeBtn
                "
              ></ng-container>
              <ng-template #cancelUpgradeBtn>
                <button class="cancelUpgrade btn btn-danger">
                  Cancel
                </button>
              </ng-template>
              <ng-template #upgradeBtn>
                <button
                  class="upgrade btn btn-primary"
                  (click)="onUpgrade(building.key)"
                >
                  Upgrade
                </button>
              </ng-template>
            </div>
          </div>
        </li>
      </ng-template>
      <ng-template #resourceBuildingTemplate>
        <li
          class="list-group-item"
          *ngFor="let resourceBuilding of building.value | keyvalue"
        >
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  {{ resourceBuilding.key | humanizeCamelCase }}
                </div>
                <div class="col">
                  <span class="badge badge-info">
                    Level
                    <div class="level">
                      {{ resourceBuilding.value.level }}
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="upgradeResources" resourceType="wood">
                <div class="row buildingDetailsSection">
                  <ng-container
                    *ngIf="
                      resourceBuilding.value.upgrading.state;
                      then progressBarTemplate;
                      else neededResourcesTemplate
                    "
                  ></ng-container>
                  <ng-template #progressBarTemplate>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-success progress-bar-striped active"
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 0%;"
                      >
                        <span id="current-progress"></span>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #neededResourcesTemplate>
                    <div class="col">
                      <div class="neededWood">
                        {{
                          getBuildingNeededResources(
                            building.key,
                            resourceBuilding.key
                          ).wood
                        }}
                      </div>
                      Wood
                    </div>
                    <div class="col">
                      <div class="neededIron">
                        {{
                          getBuildingNeededResources(
                            building.key,
                            resourceBuilding.key
                          ).iron
                        }}
                      </div>
                      Iron
                    </div>
                    <div class="col">
                      <div class="neededClay">
                        {{
                          getBuildingNeededResources(
                            building.key,
                            resourceBuilding.key
                          ).clay
                        }}
                      </div>
                      Clay
                    </div>
                    <div class="col">
                      <div class="neededTime">
                        {{
                          getBuildingUpgradeTime(
                            building.key,
                            resourceBuilding.key
                          )
                        }}
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col upgradeOrCancelBtn">
              <ng-container
                *ngIf="
                  resourceBuilding.value.upgrading.state;
                  then cancelUpgradeBtn;
                  else upgradeBtn
                "
              ></ng-container>
              <ng-template #cancelUpgradeBtn>
                <button class="cancelUpgrade btn btn-danger">
                  Cancel
                </button>
              </ng-template>
              <ng-template #upgradeBtn>
                <button
                  class="upgrade btn btn-primary"
                  (click)="onUpgrade(building.key + '.' + resourceBuilding.key)"
                >
                  Upgrade
                </button>
              </ng-template>
            </div>
          </div>
        </li>
      </ng-template>
    </div>
  </ul>
  <!--
  <div
    class="modal fade"
    id="insufficentResources"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Insufficent Resources!
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Ouh, okay
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if data.totalOnMove|length > 0 %}

      <div class="card">
        <div class="card-header">
          On Move(our Troops)
        </div>

        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Arrival Time</th>
              <th>Time Left</th>
            </tr>
          </thead>
          <tbody>
            {% for onMove in data.totalOnMove%}
            <tr id="onMove-{{ onMove.task_id }}">
              <td>
                {% if onMove.movementType == 'attack' %} {% if onMove.state ==
                'going' %} Our troops are attacking to {{ onMove.to }}

                {% elif onMove.state == 'returning' %} Our troops returning from
                {{ onMove.to }}

                {% endif %} {% elif onMove.movementType == 'support' %} {% if
                onMove.state == 'going' %} {% elif onMove.state == 'returning'
                %} {% endif %} {% endif %}
              </td>
              <td>{{ onMove.arrivalTime }}</td>
              <td>X</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %} {% if data.totalIncomingStrangerTroops|length > 0 %}
      <div class="card">
        <div class="card-header">
          Incoming Troops
        </div>

        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Arrival Time</th>
              <th>Time Left</th>
            </tr>
          </thead>
          <tbody>
            {% for incomingStrangerTroopsElement in
            data.totalIncomingStrangerTroops%}
            <tr
              id="incomingStrangerTroopsElement-{{
                incomingStrangerTroopsElement.task_id
              }}"
            >
              <td>
                {% if incomingStrangerTroopsElement.movementType == 'attack' %}
                {{ incomingStrangerTroopsElement.home_village_id }} is attacking
                us. {% elif incomingStrangerTroopsElement.movementType ==
                'support' %}
                {{ incomingStrangerTroopsElement.home_village_id }} is
                supporting us. {% endif %}
              </td>
              <td>{{ incomingStrangerTroopsElement.arrivalTime }}</td>
              <td>X</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div> -->
</div>
