<!-- <span class="badge badge-warning">Wood <div id="wood">X</div></span>
<span class="badge badge-warning">Iron <div id="iron">Y</div></span>
<span class="badge badge-warning">Clay <div id="clay">Z</div></span>
<span class="badge badge-warning">Storage <div id="storage">T</div></span> -->

<div class="card">
    <div class="row mt-3 mb-3 ml-2">
        <div class="col">
            <div class="btn-group">
                <button id="switchVillage" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{data.selectedVillage.villageName}}
                </button>
                <div class="dropdown-menu">
                    {% for village in myVillages %}
                        {% if data.page == 'myVillages' %}
                            <a class="dropdown-item" href="/game/{{village.index}}">{{village.villageName}}</a>
                        {% elif data.page == 'playerProfile' %}
                            <a class="dropdown-item" href="/game/{{village.index}}/players/{{data.profileOfPlayerID}}">{{village.villageName}}</a>
                        {% elif data.page == 'report' %}
                            <a class="dropdown-item" href="/game/{{village.index}}/reports/{{data.report_index}}">{{village.villageName}}</a>
                        {% else %}
                        <a class="dropdown-item" href="/game/{{village.index}}/{{data.page}}">{{village.villageName}}</a>
                        {% endif %}

                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col">
            {% if data.page == 'myVillages' %}
            <div class="toggleVisualVillage custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggleVisualVillage">
                <label class="custom-control-label" for="toggleVisualVillage">Toggle Visual Village</label>
              </div>
            {% endif %}
        </div>
        <div class="col">
            <span class="badge badge-warning">Wood <div id="wood">X</div></span>
            <span class="badge badge-warning">Iron <div id="iron">Y</div></span>
            <span class="badge badge-warning">Clay <div id="clay">Z</div></span>
            <span class="badge badge-info">Storage <div id="storage">T</div></span>
            <span class="badge badge-success">Population <div id="population">100/500</div></span>
        </div>
    </div>
    <div class="building" buildingName="townCenter">

    </div>
    <div class="building" buildingName="storage">

    </div>
    <div class="building" buildingName="farm">

    </div>
    <div class="building" buildingName="barracks">

    </div>
    <div class="resources" resourceBuildingName="woodCamp" reseourceType="wood">

    </div>
    <div class="resources" resourceBuildingName="ironMine" reseourceType="iron">

    </div>
    <div class="resources" resourceBuildingName="clayPit" reseourceType="clay">

    </div>
</div>
<script>
    var page = "{{data.page}}"
    console.log("page, ", page)
</script>