{% extends "partials/layout.html" %}
{% load static %}

{% block headcdn %}

{% endblock %}

{% block content %}
    <div id="villageDataJSON" data='{{data.selectedVillage}}'></div>
    <div id="gameConfigData" data='{{data.gameConfig}}'></div>
    
    {% include "partials/villageResources.html" %}

    <div class="row">
        <div class="col text-center">
            <div class="card">
                <img src="http://placehold.it/300x200" class="rounded mx-auto d-block mt-3 mb-3" alt="pp">
            </div>
            <table class="table table-bordered ">
                <tbody>
                    <tr>
                        <td>Village Name</td>
                        <td>{{data.profileOfVillageInfo.villageName}}</td>
                    </tr>
                    <tr>
                        <td>Coordinates</td>
                        <td>{{data.profileOfVillageInfo.coords}}</td>

                    </tr>
                    <tr>
                        <td>Points</td>
                        <td>{{data.profileOfVillageInfo.points}}</td>
                    </tr>
                    <tr>
                        <td>Player</td>
                        <td>
                            <a href="/game/players/{{data.profileOfVillageInfo.user_id}}">{{data.profileOfVillageInfo.playerName}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Clan</td>
                        <td>{{data.profileOfVillageInfo.clan}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Actions
                </div>
                <div class="card-body">
                    <form action="/game/commandCenter" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="commandTargetVillageID" value="{{data.profileOfVillageInfo.village_id}}"/>
                        <button type="submit" class="btn btn-info">Send Troops</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block footerjs %}
    <script type="text/javascript" src="{% static 'wololo/js/villageResources.js' %}"></script>
    <script type="text/javascript" src="{% static 'wololo/js/profiles/villageProfile.js' %}"></script>

{% endblock %}