  .business-header {
    height: 50vh;
    min-height: 300px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  .card {
    height: 100%;
  }
  