<div class="row">
  <div class="col-md-6 col-sm-12 text-center">
    <div class="card">
      <img
        src="http://placehold.it/300x200"
        class="rounded mx-auto d-block mt-3 mb-3"
        alt="pp"
      />
      <!-- {% if currentUser.id == data.profileOfPlayerInfo.id %}
                  <button type="button" class="btn btn-info">Upload Profile Photo</button>
              {% endif %} -->
    </div>
    <div class="card">
      <div class="card-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
        delectus. Consequuntur illum odio iusto cum ratione, perspiciatis
        corporis consectetur quae aliquam maiores. Reprehenderit quibusdam modi
        laudantium, ratione veniam ad rem? Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Unde, delectus. Consequuntur illum odio
        iusto cum ratione, perspiciatis corporis consectetur quae aliquam
        maiores. Reprehenderit quibusdam modi laudantium, ratione veniam ad rem?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
        delectus. Consequuntur illum odio iusto cum ratione, perspiciatis
        corporis consectetur quae aliquam maiores. Reprehenderit quibusdam modi
        laudantium, ratione veniam ad rem? Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Unde, delectus. Consequuntur illum odio
        iusto cum ratione, perspiciatis corporis consectetur quae aliquam
        maiores. Reprehenderit quibusdam modi laudantium, ratione veniam ad rem?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
        delectus. Consequuntur illum odio iusto cum ratione, perspiciatis
        corporis consectetur quae aliquam maiores. Reprehenderit quibusdam modi
        laudantium, ratione veniam ad rem? Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Unde, delectus. Consequuntur illum odio
        iusto cum ratione, perspiciatis corporis consectetur quae aliquam
        maiores. Reprehenderit quibusdam modi laudantium, ratione veniam ad rem?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
        delectus. Consequuntur illum odio iusto cum ratione, perspiciatis
        corporis consectetur quae aliquam maiores. Reprehenderit quibusdam modi
        laudantium, ratione veniam ad rem? Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Unde, delectus. Consequuntur illum odio
        iusto cum ratione, perspiciatis corporis consectetur quae aliquam
        maiores. Reprehenderit quibusdam modi laudantium, ratione veniam ad rem?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
        delectus. Consequuntur illum odio iusto cum ratione, perspiciatis
        corporis consectetur quae aliquam maiores. Reprehenderit quibusdam modi
        laudantium, ratione veniam ad rem? Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Unde, delectus. Consequuntur illum odio
        iusto cum ratione, perspiciatis corporis consectetur quae aliquam
        maiores. Reprehenderit quibusdam modi laudantium, ratione veniam ad rem?
      </div>
    </div>
  </div>
</div>
