<div
  id="villageOverview"
  class="card fadeInRight mt-5"
  *ngIf="selectedVillage"
  [class]="!selectedVillage ? 'd-none' : ''"
>
  <div class="card-header">
    Village Overview
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a
        [routerLink]="[
          '/game/' +
            AfterLoginRoutesEnum.VILLAGE_PROFILE +
            '/' +
            selectedVillage.villageId
        ]"
      >
        {{ selectedVillage.villageName }}({{ selectedVillage.x }},
        {{ selectedVillage.y }})
      </a>
    </h5>
    <p class="card-text">
      Belongs to
      <a
        [routerLink]="[
          '/game/' +
            AfterLoginRoutesEnum.PLAYER_PROFILE +
            '/' +
            selectedVillage.playerName
        ]"
      >
        {{ selectedVillage.playerName }}
      </a>
      <br />
      Village Points = {{ selectedVillage.villagePoints }}
    </p>
  </div>
</div>
