<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">Best Game Ever!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt
        neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque
        vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo,
        maiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio
        neque consectetur consequatur magni in nisi, natus beatae quidem quam
        odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate.
        Voluptatum.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <div class="login-form mt-4">
        <woo-login-form></woo-login-form>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="" />
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="" />
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="" />
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
