<wo-profile-layout *ngIf="villageProfileInfo">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Village Name</td>
        <td>{{ villageProfileInfo.villageName }}</td>
      </tr>
      <tr>
        <td>Coordinates</td>
        <td>
          ({{ villageProfileInfo.coords.x }}, {{ villageProfileInfo.coords.y }})
        </td>
      </tr>
      <tr>
        <td>Points</td>
        <td>{{ villageProfileInfo.points }}</td>
      </tr>
      <tr>
        <td>Player</td>
        <td>
          <a
            [routerLink]="[
              '/game/' +
                AfterLoginRoutesEnum.PLAYER_PROFILE +
                '/' +
                villageProfileInfo.playerName
            ]"
          >
            {{ villageProfileInfo.playerName }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</wo-profile-layout>
