{% extends "beforeLogin/partials/layout.html" %}
{% load static %}

{% block headcdn %}

{% endblock %}

{% block content %}

<div class="row mt-5 mb-5">
    <div class="col-md-6 col-lg-6 mt-5 ">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">JOIN TO THE ADVENTURE</h1>
                <hr />
            </div>
        </div> 
        <div class="main-login main-center">
            <form action="/createAccount" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a> {{ message }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-1 hidden-sm hidden-xs text-center mt-5 ">
        <div style="width:50%;height:190px;border-right:1px solid #666"></div>
        <h4 class="dark">OR</h4>
        <div style="width:50%;height:190px;border-right:1px solid #666"></div>
    </div>
    <div class="col-md-5  col-lg-5" style="margin-top:100px ">
        <div class="text-center" style="max-width:350px;margin:0 auto">
            <a class="btn btn-block btn-social btn-facebook" href="../auth/?provider=Facebook" style="margin-bottom:9px">
                <i class="fa fa-facebook"></i> Register with Facebook
            </a>
            <a class="btn btn-block btn-social btn-google" href="../auth/?provider=Google" style="margin-bottom:9px">
                <i class="fa fa-google-plus"></i> Register with Google
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block footerjs %}


{% endblock %}