{% extends "partials/layout.html" %} 
{% load static %} 
{% block headcdn %} {% endblock %}
 {% block content %}
 <div id="villageDataJSON" data='{{data.selectedVillage}}'></div>
 <div id="gameConfigData" data='{{data.gameConfig}}'></div>

 {% include "partials/villageResources.html" %}

<div class="row">
    <div class="col">
        <div id="game-container"></div>
    </div>
    <div class="col">
        
        <div id="villageOverview" class="card fadeInRight d-none mt-5">
            <div class="card-header">
                Village Overview
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="tooltip">
    <span></span>
</div>

<div class='map-data' map-data='{{publicVillages}}'></div>
<div class='selected-village' data='{{data.selectedVillage}}'></div>
{% endblock %} 
{% block footerjs %}
<script type="text/javascript" src="{% static 'wololo/assets/js/phaser/build/phaser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wololo/js/game.js' %}"></script>
<script type="text/javascript" src="{% static 'wololo/js/villageResources.js' %}"></script>


{% endblock %}