{% extends "partials/layout.html" %}
{% load static %}
{% load custom_template_tags %}

{% block headcdn %}

{% endblock %}

{% block content %}
    <div id="villageDataJSON" data='{{data.selectedVillage}}'></div>
    <div id="gameConfigData" data='{{data.gameConfig}}'></div>
    {% include "partials/villageResources.html" %}
    
    <div class="row">
        <div class="col-2">
            <div class="card">  
                <br><br><br><br><br><br><br><br><br>
            </div>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Date</th>
                        <th colspan="8">{{data.report.date}}</th>
                    </tr>
                    <tr>
                        <th class="text-danger" colspan="2">Attacker</th>
                        <th colspan="8">
                            <a href="/game/players/{{data.report.content.attacker.user_id}}">{{data.report.content.attacker.username}}</a>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-danger" colspan="2">Source</th>
                        <th colspan="8">
                            <a href="/game/villages/{{data.report.content.attacker.village_id}}">{{data.report.content.attacker.villageName}}</a>
                        </th>
                    </tr>
                    <tr class="text-center" >
                        <th></th>
                        {% for unit in data.gameConfig.units.infantry %}
                        <th>{{unit}}</th>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.cavalry %}
                        <th>{{unit}}</th>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.siegeWeapons %}
                        <th>{{unit}}</th>
                        {% endfor %}
                        
                    </tr>
                </thead>
                <tbody class="text-center">
                        <tr >
                            <td>Quantity</td>
                            {% for unit in data.gameConfig.units.infantry %}
                            <td>
                                {% with data.report.content.attacker.units_result.infantry|keyvalue:unit as unit %}
                                    {{ unit.quantity }}
                                {% endwith %}
                            </td>
                            {% endfor %}
                            {% for unit in data.gameConfig.units.cavalry %}
                            <td>
                                {% with data.report.content.attacker.units_result.cavalry|keyvalue:unit as unit %}
                                    {{ unit.quantity }}
                                {% endwith %}
                            </td>
                            {% endfor %}
                            {% for unit in data.gameConfig.units.siegeWeapons %}
                            <td>
                                {% with data.report.content.attacker.units_result.siegeWeapons|keyvalue:unit as unit %}
                                    {{ unit.quantity }}
                                {% endwith %}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Lost</td>
                            {% for unit in data.gameConfig.units.infantry %}
                            <td>
                                {% with data.report.content.attacker.units_result.infantry|keyvalue:unit as unit %}
                                    {{ unit.lost }}
                                {% endwith %}
                            </td>
                            {% endfor %}
                            {% for unit in data.gameConfig.units.cavalry %}
                            <td>
                                {% with data.report.content.attacker.units_result.cavalry|keyvalue:unit as unit %}
                                    {{ unit.lost }}
                                {% endwith %}
                            </td>
                            {% endfor %}
                            {% for unit in data.gameConfig.units.siegeWeapons %}
                            <td>
                                {% with data.report.content.attacker.units_result.siegeWeapons|keyvalue:unit as unit %}
                                    {{ unit.lost }}
                                {% endwith %}
                            </td>
                            {% endfor %}
                        </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-info" colspan="2">Defender</th>
                        <th colspan="8">
                            <a href="/game/players/{{data.report.content.defender.user_id}}">{{data.report.content.defender.username}}</a>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-info" colspan="2">Target</th>
                        <th colspan="8">
                            <a href="/game/villages/{{data.report.content.defender.village_id}}">{{data.report.content.defender.villageName}}</a>
                        </th>
                    </tr>
                    <tr class="text-center" >
                        <th></th>
                        {% for unit in data.gameConfig.units.infantry %}
                        <th>{{unit}}</th>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.cavalry %}
                        <th>{{unit}}</th>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.siegeWeapons %}
                        <th>{{unit}}</th>
                        {% endfor %}
                        
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>Quantity</td>
                        {% for unit in data.gameConfig.units.infantry %}
                        <td>
                            {% with data.report.content.defender.units_result.infantry|keyvalue:unit as unit %}
                                {{ unit.quantity }}
                            {% endwith %}
                        </td>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.cavalry %}
                        <td>
                            {% with data.report.content.defender.units_result.cavalry|keyvalue:unit as unit %}
                                {{ unit.quantity }}
                            {% endwith %}
                        </td>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.siegeWeapons %}
                        <td>
                            {% with data.report.content.defender.units_result.siegeWeapons|keyvalue:unit as unit %}
                                {{ unit.quantity }}
                            {% endwith %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Lost</td>
                        {% for unit in data.gameConfig.units.infantry %}
                        <td>
                            {% with data.report.content.defender.units_result.infantry|keyvalue:unit as unit %}
                                {{ unit.lost }}
                            {% endwith %}
                        </td>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.cavalry %}
                        <td>
                            {% with data.report.content.defender.units_result.cavalry|keyvalue:unit as unit %}
                                {{ unit.lost }}
                            {% endwith %}
                        </td>
                        {% endfor %}
                        {% for unit in data.gameConfig.units.siegeWeapons %}
                        <td>
                            {% with data.report.content.defender.units_result.siegeWeapons|keyvalue:unit as unit %}
                                {{ unit.lost }}
                            {% endwith %}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <!-- {{data.report}} -->
        </div>
    </div>
    


{% endblock %}


{% block footerjs %}
<script type="text/javascript" src="{% static 'wololo/js/villageResources.js' %}"></script>

{% endblock %}