{% extends "partials/layout.html" %}
{% load static %}

{% block headcdn %}

{% endblock %}

{% block content %}
    <div id="villageDataJSON" data='{{data.selectedVillage}}'></div>
    <div id="gameConfigData" data='{{data.gameConfig}}'></div>
    {% include "partials/villageResources.html" %}

    <div class="row">
        <div class="col-2">
            <div class="list-group text-center">
                <a href="#" class="list-group-item list-group-item-action active">
                  Players
                </a>
                <a href="#" class="list-group-item list-group-item-action">Clans</a>
            </div>
        </div>
        <div class="col">
            <table id="example" class="display row-border text-center" style="width:100%">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Clan</th>
                        <th>Points</th>
                        <th>Number of villages</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in data.allPlayers %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>
                                <a href="/game/players/{{player.id}}">{{player.username}}</a>
                            </td>
                            <td>{{player.clan}}</td>
                            <td>{{player.points}}</td>
                            <td>{{player.numberOfVillages}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{% block footerjs %}
    <script type="text/javascript" src="{% static 'wololo/js/villageResources.js' %}"></script>
    <script type="text/javascript" src="{% static 'wololo/js/ranking.js' %}"></script>

{% endblock %}